.email {
	margin-bottom: 20px;
	margin-left: 20px;
}
.postsContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 190px;
	margin-right: 150px;
}

.postsBox{
	background-color: white;
	border-radius: 20px;
	height: 230px;
	margin-bottom: 25px;
	margin-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 30px;
	padding-top: 30px;
	text-align: center;
	width: 190px;
}

.styleColor{
	color: white;
	font-size: 12pt;
	font-style: bold;
}

.submitForm {
	background-color: lightgrey;
	height: 170px;
	padding: 10px;
	width: 175px;
}

.userBio {
	background-color: white;
	border-radius: 20px;
	color: #323232;
	margin-bottom: 20px;
	margin-left: 190px;
	padding-bottom: 5px;
	width: 1055px;
}

.userBio h1{
	font-size: 16pt;
	margin-left: 20px;
	padding-top: 20px;
}

.userBio h2{
	font-size: 14pt;
	margin-left: 20px;
}